.page-num {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    gap: 10px;

    button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: rgba(83, 82, 82, 0.829);

        &:hover {
            color: rgba(5, 5, 5, 0.945);
        }
    }
}
