.title {
    width: 100%;
    text-align: center;

    h2 {
        font-weight: 250;
    }
}
.wrapper {
    position: relative;
    margin-top: 105px;
    cursor: pointer;
    &:hover {
        .btn-prev,
        .btn-next {
            opacity: 1;
        }
    }
}

.btn-prev,
.btn-next {
    opacity: 0;
    border: none;
    border-radius: 92px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 2;

    &:hover {
        background-color: aliceblue;
    }
}
.btn-next {
    top: 45%;
    right: 0%;
    position: absolute;
}

.btn-prev {
    top: 45%;
    left: 0%;
    position: absolute;
}

.wrapper {
    width: 80%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
