.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    transition: transform 0.4s ease;
}

.hidden {
    transform: translateY(-200%);
}
.wrapper {
    height: 80px;
    // position: fixed;
    width: 100%;
    // z-index: 5;
    // top: 0;
}
.container {
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}
.logo {
    font-size: larger;
}
.search {
    position: relative;
    margin-left: -30px;
    padding-left: 10px;
    border: solid 1px rgba(159, 159, 159, 0.832);
    border-radius: 92px;

    input {
        border: none;
        width: 100%;
        height: 32px;
        background-color: transparent;

        &:focus {
            border-color: rgba(22, 24, 35, 0.2);
            outline: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0px;
        right: 36px;
        height: 32px;
        width: 1px;
        background-color: rgba(159, 159, 159, 0.832);
    }
    // &:focus-within {
    //     border-color: rgba(22, 24, 35, 0.2);
    // }

    .search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 40px;
        border-top-right-radius: 92px;
        border-bottom-right-radius: 92px;
        transition: 0.3s ease;
        cursor: pointer;
        color: rgba(64, 64, 64, 0.91);

        &:hover {
            background-color: rgba(22, 24, 35, 0.2);
        }
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    .menu-icon-user,
    .menu-icon-bag {
        cursor: pointer;
        padding: 14px;
        font-size: 2.2rem;
        color: rgba(22, 24, 35, 0.745);
        transition: 0.2s ease;

        &:hover {
            color: #101010;
        }

        span {
            padding-left: 8px;
            font-size: 1.5rem;
        }
    }

    .menu-icon-bag {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .box-text {
            padding-left: 0;
            position: absolute;
            top: 5px;
            right: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 1.8rem;
            color: #fff;
            background-color: rgba(22, 24, 35, 0.745);
            border: solid 1px;
            border-radius: 92px;
            font-size: 1.3rem;
        }
    }
}

.dropdown-bag-container {
    position: absolute;
    right: -16px;
    top: 0;
    transform: translate(-30%, 15%);
    height: 500px;
    width: 450px;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;

    .dropdown-bag-title {
    }
    .dropdown-bag-scroll {
    }
    .dropdown-bag-total {
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.Caretup {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 2.5rem;
    transform: translate(-1000%, 149%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    svg {
        filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
    }
}

.logo,
.search,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: fit-content;
}
